spring:
  application:
    name: social-gateway-client

server:
  port: 8000

zuul:
  ignoredServices: '*'
  prefix: /api
  routes:
    multiplications:
      path: /multiplications/**
      serviceId: social-multiplication-client
      strip-prefix: false
    results:
      path: /results/**
      serviceId: social-multiplication-client
      strip-prefix: false
    leaders:
      path: /leaders/**
      serviceId: social-gamification-client
      strip-prefix: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: info, health, httptrace, loggers, metrics